/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
display: block;
}
ol,
ul {
list-style: none;
margin: 0px;
padding: 0px;
}
blockquote,
q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* start editing from here */
a {
text-decoration: none;
}
.txt-rt {
text-align: right;
}
/* text align right */
.txt-lt {
text-align: left;
}
/* text align left */
.txt-center {
text-align: center;
}
/* text align center */
.float-rt {
float: right;
}
/* float right */
.float-lt {
float: left;
}
/* float left */
.clear {
clear: both;
}
/* clear float */
.pos-relative {
position: relative;
}
/* Position Relative */
.pos-absolute {
position: absolute;
}
/* Position Absolute */
.vertical-base {
vertical-align: baseline;
}
/* vertical align baseline */
.vertical-top {
vertical-align: top;
}
/* vertical align top */
nav.vertical ul li {
display: block;
}
/* vertical menu */
nav.horizontal ul li {
display: inline-block;
}
/* horizontal menu */
img {
max-width: 100%;
}
/*end reset*/
html,
body {
padding: 0;
margin: 0;
background: #fff;
font-family: 'Open Sans Condensed';
}
body a {
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
text-decoration: none;
}
body a:hover {
text-decoration: none;
}
body a:focus,
a:hover {
font-family: 'Open Sans Condensed';
text-decoration: none;
}
input[type="email"],
input[type="text"] input[type="button"],
input[type="submit"] {
font-family: 'Open Sans Condensed';
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
font-family: 'Open Sans Condensed';
letter-spacing: 1px;
}
p {
margin: 0;
padding: 0;
letter-spacing: 1px;
font-family: 'Open Sans Condensed';
word-spacing: 3px;
}
ul {
margin: 0;
padding: 0;
}
/*-- //Reset-Code --*/
body {
background: url(../images/b1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
min-height: 100vh;
}
/*-- countdown-- */
.simply-countdown {
overflow: hidden;
display: table;
}
.simply-countdown > .simply-section {
width: 151px;
height: 125px;
display: -webkit-box;
padding: 38px 0;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-moz-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-moz-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
float: left;
/* margin: 15px; */
background: transparent;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.simply-countdown > .simply-section .simply-amount, .simply-countdown > .simply-section .simply-word {
display: block;
text-align: center;
font-family: 'Open Sans Condensed'
}
span.simply-word {
font-size: 17px;
text-transform: capitalize;
color: #ffffff;
font-style: italic;
font-weight: 500;
letter-spacing: 3px;
}
span.simply-amount {
color: #fff;
}
/*-- //countdown-- */
.count-center-w3ls {
padding: 6em 0;
margin: 0 auto;
}
.top-w3ls {
text-align: center;
}
.top-w3ls h1 {
color: #fff;
letter-spacing: 14px;
font-weight: 600;
}
.top-w3ls p {
color: #d2d2d2;
padding: 0 155px;
line-height: 28px;
margin: 2em 0;
letter-spacing: 3px;
text-transform: uppercase;
}
.line {
width: 100%;
height: 1px;
background: #fff;
}
.newsletter h2 {
font-size: 48px;
color: #fff;
letter-spacing: 2px;
font-weight: 600;
}
.newsletter p {
font-size: 17px;
color: #101010;
letter-spacing: 1px;
padding: 9px 0px 24px;
}
.timer_wrap {
margin: 0 auto;
box-sizing: border-box;
}
.w3layouts_more-buttn a {
width: 13%;
padding: 10px 0px;
font-size: 14px;
color: #fff;
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
display: inline-block;
letter-spacing: 2px;
background: rgba(255, 255, 255, 0.27);
outline: none;
border: 2px solid rgba(255, 255, 255, 0.32);
}
.w3layouts_more-buttn a:hover {
background: #fff;
border: 2px solid #fff;
color: #000;
}
.banner-agileits-btm {
display: inline;
text-align: center
}
/*--newsletter--*/
.newsletter {
text-align: center;
}
.letter-w3ls input[type="email"] {
padding: 12px 12px;
border: none;
border-bottom: 2px solid #000;
width: 72.5%;
margin-right: 10px;
font-size: .9em;
color: #fff;
outline: none;
display: inline-block;
background: #000;
letter-spacing: 1px;
box-sizing: border-box;
}
::-webkit-input-placeholder {
/* Chrome/Opera/Safari */
color: #fff;
}
::-moz-placeholder {
/* Firefox 19+ */
color: #fff;
}
:-ms-input-placeholder {
/* IE 10+ */
color: #fff;
}
:-moz-placeholder {
/* Firefox 18- */
color: #fff;
}
.letter-w3ls input[type="submit"] {
font-size: 14px;
background: #fff;
border: solid 1px #fff;
color: #000;
padding: 12px 18px;
outline: none;
display: inline-block;
vertical-align: middle;
text-transform: uppercase;
cursor: pointer;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
-webkit-appearance: none;
letter-spacing: 1px;
font-weight: 600;
}
.letter-w3ls input[type="submit"]:hover {
background: rgba(2, 71, 114, 0);
border: solid 1px #fff;
color: #fff;
}
/*--//newsletter--*/
.icons {
margin: 3em 0em;
}
.copyright {
text-align: center;
}
.copyright p {
font-size: 13px;
color: #fff;
letter-spacing: 3px;
}
.copyright p a {
color: #ffa51f;
text-decoration: underline;
}
.copyright p a:hover {
color: #fff;
}
.icons ul li {
display: inline-block;
}
.icons ul li a {
color: #fff;
border: 1px solid #fff;
width: 31px;
height: 31px;
line-height: 32px;
border-radius: 20px;
display: inline-block;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-o-border-radius: 20px;
-ms-border-radius: 20px;
}
.icons ul li a span.fa {
font-size: 15px;
margin: 0.5em;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.icons ul li a span.fa.fa-facebook:hover {
color: #3b5998;
}
.icons ul li a span.fa.fa-twitter:hover {
color: #55acee;
}
.icons ul li a span.fa.fa-rss:hover {
color: #f26522;
}
.icons ul li a span.fa.fa-vk:hover {
color: #45668e;
}
/*--responsive--*/
@media(max-width:1920px) {
.top-w3ls h1 {
font-size: 67px;
}
.count-center-w3ls {
width: 56%;
}
.top-w3ls p {
font-size: 16px;
}
.w3layouts_more-buttn a {
width: 15%;
font-size: 17px;
}
span.simply-amount {
font-size: 76px;
line-height: 73px;
}
}
@media(max-width:1680px) {
.count-center-w3ls {
width: 63%;
}
}
@media(max-width:1600px) {
.timer_wrap {
width:59%;
}
.count-center-w3ls {
width: 66%;
}
.top-w3ls h1 {
font-size: 60px;
}
.top-w3ls p {
font-size: 14px;
}
.w3layouts_more-buttn a {
width: 13%;
font-size: 14px;
}
span.simply-amount {
letter-spacing: 8px;
font-size: 70px;
line-height: 70px;
}
}
@media(max-width:1440px) {
.count-center-w3ls {
width: 73%;
}
}
@media(max-width:1366px) {
.count-center-w3ls {
width: 76%;
}
span.simply-amount {
font-size: 64px;
}
.simply-countdown > .simply-section {
padding: 33px 0;
}
}
@media(max-width:1280px) {
.count-center-w3ls {
width: 78%;
}
.simply-countdown > .simply-section {
width: 146px;
height: 120px;
}
}
@media(max-width:1080px) {
.count-center-w3ls {
width: 87%;
}
.timer_wrap {
width: 63%;
}
.top-w3ls h1 {
letter-spacing: 13px;
}
}
@media(max-width:1050px) {
.count-center-w3ls {
width: 90%;
}
.newsletter h2 {
font-size: 44px;
}
#small-dialog, #small-dialog1 {
padding: 1.5em;
}
.letter-w3ls input[type="submit"] {
padding: 10px 16px;
}
.letter-w3ls input[type="email"] {
padding: 10px 12px;
}
}
@media(max-width:1024px) {
span.simply-word {
font-size: 16px;
}
.timer_wrap {
width: 65%;
}
.top-w3ls h1 {
font-size: 57px;
}
.top-w3ls p {
letter-spacing: 2px;    
margin: 1.5em 0;    }
.count-center-w3ls {
padding: 2em 0;
}
.icons {
margin: 2.5em 0em;
}
}
@media(max-width:991px) {
.top-w3ls p {
padding: 0px 139px;
margin: 1em 0;
}
.icons {
margin: 2.5em 0em;
}
.timer_wrap {
width: 67%;
}
}
@media(max-width:900px) {
.top-w3ls p {
padding: 0px 98px;
}
.w3layouts_more-buttn a {
width: 17%;
}
span.simply-amount {
font-size: 61px;
letter-spacing: 6px;}
.simply-countdown > .simply-section {
width: 132px;
height: 117px;
}
}
@media(max-width:800px) {
.timer_wrap {
width: 76%;
}
.top-w3ls p {
padding: 0px 39px;
font-size: 13px;
}
.top-w3ls h1 {
font-size: 56px;
}
}
@media(max-width:768px) {
.count-center-w3ls {
width: 86%;
}
.top-w3ls h1 {
font-size: 52px;
letter-spacing: 11px;
}
.timer_wrap {
width: 82%;
}
}
@media(max-width:767px) {
span.simply-amount {
font-size: 58px;
}
.simply-countdown > .simply-section {
height: 106px;
}
.copyright p {
letter-spacing: 2px;
}
span.simply-word {
font-size: 15px;
letter-spacing: 2px;
}
}
@media(max-width:736px) {
.top-w3ls p {
padding: 0px 24px;
}
.timer_wrap {
width: 86%;
}
.newsletter h2 {
font-size: 41px;
}
.newsletter p {
font-size: 16px;
letter-spacing: 1px;
padding: 9px 0px 20px;
}
}
@media(max-width:667px) {
.top-w3ls h1 {
letter-spacing: 9px;
}
.top-w3ls p {
letter-spacing: 2px;
}
.simply-countdown > .simply-section {
width: 120px;
}
.w3layouts_more-buttn a {
width: 22%;
}
.newsletter h2 {
font-size: 44px;
}
.letter-w3ls input[type="submit"] {
margin-top: 13px;
}
.letter-w3ls input[type="email"] {
margin-right: 0px;
width: 100%;
}
}
@media(max-width:640px) {
.top-w3ls p {
letter-spacing: 1px;
}
.top-w3ls h1 {
letter-spacing:7px;
font-size: 49px;
}
.icons {
margin: 2em 0em;
}
.timer_wrap {
width: 90%;
}
.icons ul li a span.fa {
font-size: 14px;
}
.newsletter p {
font-size: 15px;
}
.letter-w3ls input[type="email"] {
padding: 10px 12px;
}
.letter-w3ls input[type="submit"] {
padding: 10px 18px;
}
}
@media(max-width:600px) {
.count-center-w3ls {
width: 92%;
}
.icons ul li a {
width: 30px;
height: 30px;
line-height: 30px;
}
.simply-countdown > .simply-section {
padding: 27px 0;
}
}
@media(max-width:568px) {
.simply-countdown > .simply-section {
width: 117px;
}
span.simply-amount {
font-size: 53px;
}
.w3layouts_more-buttn a {
width: 25%;
}
.letter-w3ls input[type="submit"] {
padding: 10.5px 15px;
font-size: 13px;
}
}
@media(max-width:480px) {
span.simply-amount {
letter-spacing: 4px;
}
.top-w3ls h1 {
font-size: 46px;
letter-spacing: 5px;
}
.simply-countdown > .simply-section {
width: 96px;
}
.top-w3ls p {
padding: 0px 9px;
}
.w3layouts_more-buttn a {
width: 27%;
font-size: 15px;
}
.copyright p {
letter-spacing: 1px;
}
}
@media(max-width:440px) {
.copyright p {
line-height: 25px;
}
.icons {
margin: 1.5em 0em;
}
.newsletter h2 {
font-size: 36px;
}
.simply-countdown > .simply-section {
width: 87px;
}
}
@media(max-width:414px) {
.top-w3ls h1 {
letter-spacing: 3px;
}
.w3layouts_more-buttn a {
width: 32%;
}
.timer_wrap {
width: 94%;
}
.newsletter p {
line-height: 24px;
}
.newsletter p {
padding: 6px 0px 15px;
}
}
@media(max-width:384px) {
.count-center-w3ls {
padding: 1.9em 0;
}
.simply-countdown > .simply-section {
width: 79px;
}
.top-w3ls h1 {
font-size: 40px;
letter-spacing: 1px;
}
}
@media(max-width:375px) {
.newsletter h2 {
font-size:31px;
}
.count-center-w3ls {
width: 95%;
padding: 1em 0;
}
}
@media(max-width:320px) {
span.simply-amount {
font-size: 45px;
}
span.simply-word {
font-size: 14px;
}
.simply-countdown > .simply-section {
width: 67px;
}
.top-w3ls p {
line-height: 24px;
margin: 1em 0;
}
}
/*--//responsive--*/